.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #CDD5DD;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    gap: 24px;
}

.container h1{
    font-size: 60px;
    font-weight: 700;
    color: #FFF;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.toMainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 52px;
    border-radius: 100px;
    background-color: #000;
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
}