.headerContainer{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.headerSimple {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    width: 90vw;
    height: 64px;
    padding: 0 40px;
    margin-top: 40px;

    border: 1px solid #E4E4E7;
    border-radius: 62px;
    background: rgba(255, 255, 255, 0.5);
}

.linksSimple {
    display: flex;
    font-weight: 400;
    gap: 32px;
}

.linksSimple a{
    color: #9EA0AA;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.logoSimple {
    justify-self: center;
    font-size: 20px;
    font-weight: 700;
}

.profileSimple {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 24px;
}

.userSimple{
    background-color: transparent;
    border: none
}

.closeModalArea{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
}