.headerSimple {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 40px 60px 0;

    height: 64px;
    padding: 0 40px;
    margin-top: 40px;

    border: 1px solid #E4E4E7;
    border-radius: 62px;
    background: rgba(255, 255, 255, 0.5);
}

.linksSimple {
    display: flex;
    font-weight: 400;
    gap: 32px;
}
.linksSimple span{
    color: rgba(158, 160, 170, 1);
    font-weight: 700;

}

.logoSimple {
    justify-self: center;
    font-size: 20px;
    font-weight: 700;
}

.profileSimple {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 24px;
}