header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    height: 100vh;
    overflow: hidden;
    background-color: #CDD5DD;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 40px 60px 0;

    width: 1360px;
    min-height: 64px;
    padding: 0 40px;
    margin-top: 40px;

    border: 1px solid #E4E4E7;
    border-radius: 62px;
    background: rgba(228, 228, 231, 1);
}

.links {
    display: flex;
    font-weight: 400;
    gap: 32px;
}
.links span{
    font-weight: 700;

}

.logo {
    justify-self: center;
    font-size: 20px;
    font-weight: 700;
}

.profile {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 24px;
}

.heading{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 986px;
    text-align: center;
    font-size: 61px;
    font-weight: 900;
    color: #ffffff;
}

.drone{
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 60vw;
    z-index: 2;
}

.whiteArc {
  width: 160%;
  height: 800px;          
  background: #ffffff;

  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;

  display: flex;
  justify-content: right;
  align-items: top;
}

.toCatalog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20vh 35vw;
    height: 119px;
}

.catalogButton{
    padding: 18px 40px;
    width: fit-content;
    border-radius: 100px;
    border: none;
    background-color: #000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}