.footer {
  position: relative;
  background: #d7dee4;
  color: #0f172a;
  padding-bottom: 40px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiteArc {
  position: relative;
  width: 140%;
  height: 320px;          
  background: #ffffff;

  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.stats {
  display: flex;
  gap: 180px;
  width: 799px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 144px;
}

.stat h2 {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}

.stat p {
  font-size: 16px;
  color: rgba(12, 18, 42, 1);
  text-align: center;
}

.drones {
  margin-top: 10px  ;    
  opacity: 1;
}


.drones img {
  width: 1100px;
  max-width: 95vw;
}

.links {
  margin-top: 120px;
}

.nav {
  display: flex;
  gap: 27px;
}

.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: rgba(12, 18, 42, 1);
}

.nav a:hover {
  text-decoration: underline;
}

.separator {
  display: flex;
  
  width: 100%;
  height: 1px;
  
  margin-bottom: 16px;
  background-color: rgba(244, 244, 244, 1);
  margin: 124px 0;
}

.copyright {
  font-size: 14px;
  margin-top: -100px;
  color: rgba(158, 160, 170, 1);
}
