footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 100vw;
  height: 25vh;
  background: #CDD5DD;
  padding-bottom: 40px;
  overflow: hidden;
}

.separator {
  display: flex;
  width: 100vw;
  height: 1px;
  background-color: #F4F4F4;
}

.copyright {
  font-size: 14px;
  color: rgba(158, 160, 170, 1);
}
