body{
    overflow-x: hidden;
}

.heading{
  margin: 15vh 0 5vh 0;
  width: 100vw;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  color: rgba(205, 213, 221, 1);
}

.mainCon {
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 24px;
}


.filter,
.popularProducts {
  display: grid;
  grid-template-columns: repeat(4, 322px);
  gap: 24px;
  justify-content: start;   
}


.filter{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filter img{
  width: 60px;
  height: 60px;
  border-radius: 80px;
  border: 1px solid rgba(231, 231, 234, 1);
}

.popularProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}


.popularProduct{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 14px;
  border-radius: 10px;
  box-sizing: border-box;
}

.popularProduct:hover{
  background-color: #F4F4F4;
}

.popularImage{
  display: flex;
  justify-content: center;
  height: 223px;
}

.productDescription{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popularProduct a{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
  font-family: "GTWalsheimPro";
  color: #0C122A;
}

.popularTitle{
  font-size: 24px;
}

.popularPrise{
  font-size: 14px;
}

.cartOpener{
  background-color: transparent;
  border: none;
  z-index: 5;
}

.cartOpener img:active{
  background-color: #4DBC4B80;
  border-radius: 8px;
}

.paginaation{
  display: flex;
  justify-content: end;
  height: 40px;
  padding: 0 6px 0 6px;
  gap: 6px;

}
.backBut{
  display: flex;
  align-items: center;
  justify-content: center;
}
.backBut img{
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #ffff;

}
.backBut button{
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffff;
}
.but{
  display: flex;
  align-items: center;
  justify-content: center;
}
.but button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 50px;
}