.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 90vw;
  margin-top: 15vh;
  gap: 15vw;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.leftTitle {
  font-size: 30px;
  font-weight: 400;
  color: #0C122A;
  
}

.menuItem,
.activeItem {
  font-size: 14px;
  text-decoration: none;
  font-family: "GTWalsheimPro";
}

.activeItem {
  color: #0C122A;
}

.menuItem {
  color: #9EA0AA;
}

.line {
  border-top: 1px solid #CDD5DD;
  width: 100%;
}