.blockNew{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35vh;
}

.newProducts{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.newProduct{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 437px;
  height: 233px;
  border-radius: 10px;
  padding: 24px;
  color: #FFF;
}

.newDroneImage{
  position: absolute;
  top: -350px;
  display: flex;
  justify-content: center;
  width: 389px;
}

.newDroneImage img{
  width: 350px;
}

.newTitle{
  font-size: 44px;
  font-weight: 500;
}

.order{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buyBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 40px;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid #FFF;
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  color: #FFF;
}

.buyBtn img{
  width: 16px;
}